* {
    box-sizing: border-box;
}

html {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    background-color: #FFC400;
    margin: 0;
}

h1 {
    text-align: center;
}

label {
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}

.settings {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item {
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    display: block;
    padding: 1rem 2rem;

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    & + .list__item {
        margin-top: 2rem;
    }
}

.list__info {
    float: left;
}

.list__title {
    font-weight: normal;
    margin: 0;
}

.list__bday {
    // float: left;
}

.list__counter {
    float: right;
    text-align: right;
}

.list__value {
    display: block;
    font-size: 1.4rem;
}

.list__unit {
    color: #333;
}

.circle {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: #ccc;
    border-radius: 50%;
}

.circle__center {
    background: purple;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 50%;
    transition: all 1s;
}

@media only screen and (max-device-width: 768px), only screen and (max-width: 768px) {

}

@media only screen and (max-device-width: 414px), only screen and (max-width: 414px) {
    .wrapper {
        padding: 0 1rem;
    }
}